.loginContainer {
  display: flex;
  height: 100%;
  width: 100%;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
}

.profileIcon {
  display: flex;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: var(--sage);
  justify-content: center;
  align-items: center;
}

.loginPopup {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.button1 {
  margin-bottom: 1px;
}

.pixelContainer {
  background-color: var(--grape);
  width: 200px;
  height: 44px;
  display: flex;
  justify-content: center;
}
