.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.formContainer {
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  min-height: 15vw;
  height: 20vw;
  justify-content: space-evenly;
}

.subtitle {
  justify-content: flex-start;
}

.button1 {
  min-width: 120px;
  max-width: 120px;
}

.card {
  flex-direction: column;
}
